@import url(https://fonts.googleapis.com/css2?family=Devonshire&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kurale&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swa);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #589d88;
  padding: 30px 0;
}

header img {
  height: 60px;
}

.main-page {
  margin: 100px auto 0px auto;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 600px);
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

.main-page .block_menu {
  overflow: hidden;
  -webkit-box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
}

.main-page .block_menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.main-page .block_menu h2 {
  font-size: 2.7em;
  font-weight: 400;
  text-align: center;
}

.main-page .block_menu p {
  margin-top: 20px;
}

.note {
  background-color: #fce2de;
}

.note i {
  font-size: 2.2em;
  background: -webkit-gradient(linear, left top, right top, from(#ad3751), to(#eeae65));
  background: linear-gradient(to right, #ad3751 0%, #eeae65 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note h2 {
  font-family: "Devonshire", cursive;
  color: #3e131a;
}

.note p {
  font-family: "Itim", cursive;
  color: #3e131a;
  font-style: italic;
  font-size: 2.5em;
}

.chic {
  background-color: #f8ddf6;
}

.chic h2 {
  font-family: "Kurale", serif;
  background: -webkit-gradient(linear, left top, right top, from(#c57411), to(#6e4ccd));
  background: linear-gradient(to right, #c57411 0%, #6e4ccd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic p {
  font-family: "Lusitana", serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #c57411;
}

.delice {
  background-color: #ECEEEE;
}

.delice h2 {
  font-family: 'Dancing Script', cursive;
  background: -webkit-gradient(linear, left top, right top, from(#0021db), to(#249df9));
  background: linear-gradient(to right, #0021db 0%, #249df9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delice p {
  font-family: "Itim", cursive;
  font-size: 2.5em;
  font-style: italic;
  color: #0021db;
}

.palette h2 {
  font-family: 'Kaushan Script', cursive;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#bfff80));
  background: linear-gradient(to right, #3d923a 0%, #bfff80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette p {
  font-family: "Itim", cursive;
  font-size: 2.5em;
  font-style: italic;
  color: #bfff80;
}

.button {
  display: block;
  margin: 80px auto 140px auto;
  width: 305px;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #589d88;
  color: #fccb45;
  padding: 20px 40px;
  font-size: 1.5em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #589d88;
  height: 85px;
  padding: 0 50px;
}

footer a {
  color: #fccb45;
  font-size: 20px;
  font-weight: 800;
}

@media (min-width: 750px) {
  header img {
    height: 80px;
  }
  .main-page {
    padding: 20px;
        grid-template-columns: repeat(2, minmax(325px, 450px));
        grid-template-rows: repeat(2, 650px);
    grid-column-gap: 50px;
    grid-row-gap: 60px;
  }
  button {
    padding: 20px 40px;
    font-size: 1.8em;
  }
  footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer a {
    font-size: 25px;
  }
}

@media (min-width: 1024px) {
  .menu-note-enchantee {
    margin: 100px auto 180px auto !important;
    width: 55%;
    padding: 150px 5% !important;
  }
  .menu-note-enchantee .fa-itunes-note {
    font-size: 7em !important;
  }
  .menu-note-enchantee h1 {
    font-size: 3.6em !important;
    margin-bottom: 100px;
  }
  .menu-note-enchantee h2 {
    font-size: 2em;
    font-weight: 400;
  }
  .menu-note-enchantee ul {
    font-size: 1.3em;
  }
  .menu-note-enchantee .menu-signature {
    margin-top: 40px;
  }
  .menu-note-enchantee .menu-signature .fa-itunes-note {
    font-size: 3em !important;
  }
  .menu-note-enchantee .menu-signature h3 {
    font-size: 3em;
    margin-left: 20px;
  }
  .menu-chic-a-la-francaise {
    margin: 100px auto 180px auto !important;
    width: 55%;
    padding: 150px 5% !important;
  }
  .menu-chic-a-la-francaise h1 {
    font-size: 3.6em !important;
    margin-bottom: 100px;
  }
  .menu-chic-a-la-francaise h2 {
    font-size: 2em;
    font-weight: 400;
  }
  .menu-chic-a-la-francaise ul {
    font-size: 1.3em;
  }
  .menu-delice-des-papilles {
    margin: 100px auto 180px auto !important;
    width: 55%;
    padding: 150px 5% !important;
  }
  .menu-delice-des-papilles h1 {
    font-size: 3.6em !important;
    margin-bottom: 100px;
  }
  .menu-delice-des-papilles h2 {
    font-size: 2em;
    font-weight: 400;
  }
  .menu-delice-des-papilles ul {
    font-size: 1.3em;
  }
  .menu-palette-du-gout {
    margin: 100px auto 180px auto !important;
    width: 55%;
    padding: 150px 5% !important;
  }
  .menu-palette-du-gout h1 {
    font-size: 3.6em !important;
    margin-bottom: 100px;
  }
  .menu-palette-du-gout h2 {
    font-size: 2em;
    font-weight: 400;
  }
  .menu-palette-du-gout ul {
    font-size: 1.3em;
  }
}

.block_menu a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.block_menu a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.6;
}

footer a:hover {
  -webkit-animation: wiggle 0.5s;
          animation: wiggle 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
            transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
            transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
            transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
            transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
            transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
            transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
            transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
            transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
            transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
            transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
            transform: translate(1px, -2px) rotate(-1deg);
  }
}

.dot1 {
  -webkit-animation: fade 1.5s;
          animation: fade 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.dot2 {
  -webkit-animation: fade 1.5s;
          animation: fade 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.dot3 {
  -webkit-animation: fade 1.5s;
          animation: fade 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.section-note-enchantee h2 {
  position: relative;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-note-enchantee h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #3e131a;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.section-note-enchantee h2:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.orange h2 {
  position: relative;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.orange h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #c57411;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.orange h2:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.pink h2 {
  position: relative;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pink h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #a56999;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.pink h2:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.purple h2 {
  position: relative;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.purple h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #6e4ccd;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.purple h2:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section-delice-des-papilles h2 {
  position: relative;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-delice-des-papilles h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #0021db;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.section-delice-des-papilles h2:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.section-palette-du-gout h2 {
  position: relative;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.section-palette-du-gout h2::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 3px;
  top: 100%;
  left: 0;
  background: #3d923a;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.section-palette-du-gout h2:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.main-prochainement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-prochainement p {
  font-size: 2.5em;
  font-weight: 800;
  margin-top: 200px;
  text-align: center;
}

.main-mention-legale p {
  margin: 10% 10%;
}

.menu-note-enchantee {
  background-color: #fce2de;
  margin: 100px 20px 180px 20px;
  padding: 50px 5%;
  -webkit-box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
}

.menu-note-enchantee .fa-itunes-note {
  display: block;
  font-size: 4em;
  background: -webkit-gradient(linear, left top, right top, from(#ad3751), to(#eeae65));
  background: linear-gradient(to right, #ad3751 0%, #eeae65 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-bottom: 20px;
}

.menu-note-enchantee h1 {
  text-align: center;
  font-family: "Devonshire", cursive;
  font-size: 2.7em;
  color: #3e131a;
  font-weight: 400;
}

.menu-note-enchantee .section-note-enchantee {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-note-enchantee .section-note-enchantee h2 {
  font-family: "Itim", cursive;
  color: #3e131a;
  text-align: center;
}

.menu-note-enchantee .section-note-enchantee img {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-note-enchantee ul {
  font-family: "Itim", cursive;
  font-style: italic;
  color: #3e131a;
}

.menu-note-enchantee ul li {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-note-enchantee ul li span {
  font-weight: bolder;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 15px;
}

.menu-note-enchantee .menu-signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
}

.menu-note-enchantee .menu-signature .fa-itunes-note {
  font-size: 2.5em;
}

.menu-note-enchantee .menu-signature h3 {
  font-family: "Devonshire", cursive;
  font-size: 2em;
  color: #3e131a;
  font-weight: 400;
  margin-left: 10px;
}

.menu-chic-a-la-francaise {
  background-color: #f8ddf6;
  margin: 100px 20px 180px 20px;
  padding: 50px 5%;
  -webkit-box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
}

.menu-chic-a-la-francaise h1 {
  text-align: center;
  font-family: "Kurale", serif;
  background: -webkit-gradient(linear, left top, right top, from(#c57411), to(#6e4ccd));
  background: linear-gradient(to right, #c57411 0%, #6e4ccd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.7em;
  font-weight: 400;
}

.menu-chic-a-la-francaise .orange {
  color: #c57411;
}

.menu-chic-a-la-francaise .pink {
  color: #a56999;
}

.menu-chic-a-la-francaise .purple {
  color: #6e4ccd;
}

.menu-chic-a-la-francaise .section-chic-a-la-francaise {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-chic-a-la-francaise .section-chic-a-la-francaise h2 {
  font-family: "Lusitana", serif;
  text-align: center;
}

.menu-chic-a-la-francaise .section-chic-a-la-francaise img {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-chic-a-la-francaise ul {
  font-family: "Kurale", serif;
}

.menu-chic-a-la-francaise ul li {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-chic-a-la-francaise ul li span {
  font-weight: bolder;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 15px;
}

.menu-delice-des-papilles {
  background-color: #ECEEEE;
  margin: 100px 20px 180px 20px;
  padding: 50px 5%;
  -webkit-box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
}

.menu-delice-des-papilles h1 {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  background: -webkit-gradient(linear, left top, right top, from(#0021db), to(#249df9));
  background: linear-gradient(to right, #0021db 0%, #249df9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.7em;
  font-weight: 400;
}

.menu-delice-des-papilles .section-delice-des-papilles {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-delice-des-papilles .section-delice-des-papilles h2 {
  font-family: "Itim", cursive;
  text-align: center;
  font-weight: 400;
}

.menu-delice-des-papilles .section-delice-des-papilles img {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-delice-des-papilles ul {
  font-family: "Itim", cursive;
}

.menu-delice-des-papilles ul li {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-delice-des-papilles ul li span {
  font-weight: bolder;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 15px;
}

.menu-palette-du-gout {
  margin: 100px 20px 180px 20px;
  padding: 50px 5%;
  -webkit-box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
}

.menu-palette-du-gout h1 {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#bfff80));
  background: linear-gradient(to right, #3d923a 0%, #bfff80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.7em;
  font-weight: 400;
}

.menu-palette-du-gout .section-palette-du-gout {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-palette-du-gout .section-palette-du-gout h2 {
  font-family: "Itim", cursive;
  text-align: center;
  font-weight: 400;
}

.menu-palette-du-gout .section-palette-du-gout img {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.menu-palette-du-gout ul {
  font-family: "Itim", cursive;
}

.menu-palette-du-gout ul li {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-palette-du-gout ul li span {
  font-weight: bolder;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 15px;
}
/*# sourceMappingURL=main.css.map */