@import url(https://fonts.googleapis.com/css2?family=Devonshire&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Itim&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kurale&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lusitana:wght@400;700&display=swa);
@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #589d88;
  padding: 30px 0;
}

header img {
  height: 60px;
}

main {
  margin-top: 100px;
  padding: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (600px)[4];
      grid-template-rows: repeat(4, 600px);
  grid-column-gap: 80px;
  grid-row-gap: 80px;
}

main .block_menu {
  -webkit-box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
}

main .block_menu a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

main .block_menu h2 {
  font-size: 2.7em;
  font-weight: 400;
  text-align: center;
}

main .block_menu p {
  margin-top: 20px;
}

.note {
  background-color: #fce2de;
}

.note i {
  font-size: 2.2em;
  background: -webkit-gradient(linear, left top, right top, from(#ad3751), to(#eeae65));
  background: linear-gradient(to right, #ad3751 0%, #eeae65 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.note h2 {
  font-family: "Devonshire", cursive;
  color: #3e131a;
}

.note p {
  font-family: "Itim", cursive;
  color: #3e131a;
  font-style: italic;
  font-size: 2.5em;
}

.chic {
  background-color: #f8ddf6;
}

.chic h2 {
  font-family: "Kurale", serif;
  background: -webkit-gradient(linear, left top, right top, from(#c57411), to(#6e4ccd));
  background: linear-gradient(to right, #c57411 0%, #6e4ccd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chic p {
  font-family: "Lusitana", serif;
  font-weight: bold;
  font-size: 2.5em;
  color: #c57411;
}

.delice {
  background-color: #ECEEEE;
}

.delice h2 {
  font-family: 'Dancing Script', cursive;
  background: -webkit-gradient(linear, left top, right top, from(#0021db), to(#249df9));
  background: linear-gradient(to right, #0021db 0%, #249df9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.delice p {
  font-family: "Itim", cursive;
  font-size: 2.5em;
  font-style: italic;
  color: #0021db;
}

.palette h2 {
  font-family: 'Kaushan Script', cursive;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#bfff80));
  background: linear-gradient(to right, #3d923a 0%, #bfff80 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.palette p {
  font-family: "Itim", cursive;
  font-size: 2.5em;
  font-style: italic;
  color: #bfff80;
}

button {
  display: block;
  margin: 80px auto 140px auto;
  border: none;
  border-radius: 10px;
  background-color: #589d88;
  color: #fccb45;
  padding: 15px 30px;
  font-size: 1.2em;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #589d88;
  height: 85px;
  padding: 0 50px;
}

footer a {
  color: #fccb45;
  font-size: 20px;
  font-weight: 800;
}
/*# sourceMappingURL=main.css.map */