//Animation zoom
.block_menu a{
    transition: 0.3s;
}

.block_menu a:hover {
    transform: scale(1.1);
    opacity: 0.6;
}

//Animation wiggle
footer a:hover{
animation: wiggle 0.5s;
animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  //Animation prochainement

  .dot1{
      animation: fade 1.5s;
      animation-iteration-count: infinite;
  }

  .dot2{
    animation: fade 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.25s;
  }

  .dot3{
    animation: fade 1.5s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
  }

  @keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 100%;}
  }

  // Animation underline

  //Note
  .section-note-enchantee h2{
    position: relative;
    display: block;
    transition: 0.5s;

  }

  .section-note-enchantee h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #3e131a;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .section-note-enchantee h2:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }

  //Chic à la francaise
  //Orange
  .orange h2{
    position: relative;
    display: block;
    transition: 0.5s;

  }

  .orange h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #c57411;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .orange h2:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }

  //Pink
  .pink h2{
    position: relative;
    display: block;
    transition: 0.5s;

  }

  .pink h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #a56999;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .pink h2:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }

  //Purple
  .purple h2{
    position: relative;
    display: block;
    transition: 0.5s;

  }

  .purple h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #6e4ccd;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .purple h2:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }

  //Delice
  .section-delice-des-papilles h2{
    position: relative;
    display: block;
    transition: 0.5s;

  }

  .section-delice-des-papilles h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #0021db;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .section-delice-des-papilles h2:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }

  //Palette
  .section-palette-du-gout h2{
    position: relative;
    display: block;
    transition: 0.5s;

  }

  .section-palette-du-gout h2::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #3d923a;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
  }

  .section-palette-du-gout h2:hover:after {
    transform: scaleX(1);
    transform-origin: left;
  }


