.menu-delice-des-papilles {

    background-color: #ECEEEE;
    margin: 100px 20px 180px 20px;
    padding: 50px 5%;

    -webkit-box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 7px 29px -16px rgba(0, 0, 0, 0.75);

    h1 {
        text-align: center;

        font-family: 'Dancing Script', cursive;
        background: linear-gradient(to right, #0021db 0%, #249df9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 2.7em;
        font-weight: 400;
    }

    .section-delice-des-papilles {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;

        h2 {
            font-family: "Itim", cursive;
            text-align: center;
            font-weight: 400;
        }

        img {
            width: 30%;
            height: auto;
            object-fit: contain;
        }
    }

    ul {
        font-family: "Itim", cursive;

        li {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;

            span {
                font-weight: bolder;
                align-self: center;
                margin-left: 15px;
            }
        }
    } 
}