///RESPONSIVE

@media (min-width: 750px) {

    header {
        img {
          height: 80px;
        }
      }

    .main-page {
      padding: 20px;
      grid-template-columns: repeat(2, minmax(325px, 450px));
      grid-template-rows: repeat(2, 650px);
      grid-column-gap: 50px;
      grid-row-gap: 60px;
    }
  
    button{
      padding: 20px 40px;
      font-size: 1.8em;
    }

    footer {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        a {
            font-size: 25px;
          }
      }
  }

///RESPONSIVE NOTE ENCHANTEE

@media (min-width: 1024px) {
  .menu-note-enchantee {
    margin: 100px auto 180px auto !important;
    width: 55%;
    padding: 50px 10%;

    .fa-itunes-note {
      font-size: 7em !important;
    }

    h1 {
      font-size: 3.6em !important;
    }

    h2{
      font-size: 2.5em;
      font-weight: 400;
    }

    ul {
      font-size: 1.3em;
    }

    .menu-signature{
      margin-top: 40px;

      .fa-itunes-note {
          font-size: 3em !important;
      }

      h3 {
          font-size: 3em;
          margin-left: 20px;
      }
    }
  }


  .menu-chic-a-la-francaise {
    margin: 100px auto 180px auto !important;
    width: 55%;
    padding: 50px 10%;

    h1 {
      font-size: 3.6em !important;
    }

    h2 {
      font-size: 2.2em;
      font-weight: 400;
    }

    ul {
      font-size: 1.3em;
    }
  }

  .menu-delice-des-papilles {
    margin: 100px auto 180px auto !important;
    width: 55%;
    padding: 50px 10%;

    h1 {
      font-size: 3.6em !important;
    }

    h2 {
      font-size: 2.2em;
      font-weight: 400;
    }

    ul {
      font-size: 1.3em;
    }
  }
}
